[user]
	name = Joakim Jäderberg
	email = 15868581+bananashell@users.noreply.github.com
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
